<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <logging>
        <log type="coverage-clover" target="build/logs/coverage.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Jotta Unit Tests">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="JOTTA_USERNAME" value="testing"/>
        <env name="JOTTA_PASSWORD" value="testing"/>
        <env name="JOTTA_TEST_LARGE_FILES" value="false"/>
    </php>
</phpunit>
